**/polyMesh/
**/extendedFeatureEdgeMesh/
**/dynamicCode/
**/[0-9]
**/[0-9][0-9]
**/[0-9][0-9][0-9]
**/[0-9][0-9][0-9][0-9]
**/[0-9][0-9][0-9][0-9][0-9]
**/[0-9][0-9][0-9][0-9][0-9][0-9]
**/[0-9][0-9][0-9][0-9][0-9][0-9][0-9]
**/[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
**/[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
**/[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
**/[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]

*.stl
*.eMesh
*.obj
*.out
*.simplefoam
**/logs/

!/IVE-Summer/WindAroundBuilding/constant/triSurface/*
/IVE-Summer/WindAroundBuilding/constant/triSurface/Building.stl

IVE-Summer/WindAroundBuilding/constant/triSurface/Building\.eMesh
